In [4]:
#int (long int, short int) 
#float, double 
#char =a,U
#string 
#boolean 
#varaibe start from letter or _
_age=34
age_=45 
age1 =70
print(_age)
print(age_)
print(age1)

34
45
70

In [5]:
A=100
a=200
print(A)#100
print(a)#200
a='I love coding'
print(a)#I love coding 
a="I like Math"
print(a)#I like

100
200
I love coding
I like Math

In [7]:
a=2 #str(a), a="2"
b=" Country " # concate 
print(str(a)+b)

2 Country

In [9]:
a=78.5
b=7.5
print(a+b)

86.0

In [10]:
typedef constant

SyntaxError: invalid syntax (<ipython-input-10-46becbe1d053>, line 2)

In [ ]:
#assign operator 
= (x=25)
== (x==25)#true or false 
+= (sum +=3) #sum=sum+3

In [12]:
a=10
b=30
c=60
d=50
d +=6
b *=4 #b=b*4
c +=2
a -=1
print(a,b,c,d)#9,34,62,56

9 120 62 56

In [13]:
# / vs % 
a=30/3
b=30%3
print(a, b)

10.0 0

In [14]:
a=3*2
b=3**2
print(a,b)

6 9

In [15]:
print(50*2/10+6*2-8/2)#++,--,**, *,/, +,-

18.0

In [17]:
a=67
b=45.6
c="Country"
print(type(c))
print(type(b))
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [26]:
a=56>12
b=0<-1
print(a)
print(b)
print(a and b)
print(a&b)
print(a or b)
print(a|b)
print(not a)

True
False
False
False
True
True
False

In [29]:
#control struncture (1. sequencial vs 2. Selection Ex: if, if/elif)
print("Correct")
print("Wrong")
if 6>2 or 6>12: 
    print("Correct")
else: 
    print("Wrong")

Correct
Wrong
Correct

In [30]:
if 6>2 and 6<12: 
    print("Correct")
else: 
    print("Wrong")

Correct

In [ ]:
#input from keyboard 
if....
elif ....
elif ....
else: 
90==>100 (A)
80==>89  (B) 
70==>79  (C)
60==>69  (D)
50==>59  (E)
0==>49 (F) 
other Score invalid

In [5]:
a =int(input("enter your score:"))
if a>=90 and a<=100: 
    print("Grade A")
elif a>=80 and a<90:
    print("Grade B")

else: 
    print("Invalid score!")

enter your score:67
Invalid score!

In [13]:
#string 
Lname="Preab"
Fname="Sovath"
print(Lname+" "+Fname)#string concate
fullname= Lname + " "+ Fname
print(fullname)
print("ath1" in fullname)

Preab Sovath
Preab Sovath
False

In [11]:
print("*"*40)
print('_'*40)
print('<>'*20)
line="&"*40
print(line)

****************************************
________________________________________
<><><><><><><><><><><><><><><><><><><><>
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

In [16]:
name="Cambodia"
print('c' in name)

False

In [26]:
name="Cambodia is a wonderful country"
#string is a array of char
#array is a data structure to containe the collection of the same datatype
print(name[0])
print(name[0:8])
print(name[0:8:2])
print(name[-1])
print(name[-9:-1])
print(name[::-2])

C
Cambodia
Cmoi
y
l countr
ytuclfenwas iomC

In [31]:
#input fname 
#input laname 
#Hello fullname
Fname=input("Enter your first name: ")
Lname=input("Enter your last name: ")
a=60
print("*"*40)
print("Welcome Mr. ",Fname," ",Lname,a)

Enter your first name: Leo
Enter your last name: Messi
****************************************
Welcome Mr.  Leo   Messi 60

In [33]:
name="""Originally Answered: Which programming language 
      is not case sensitive? ABAP, Ada, Fortran, 
      and Pascal provide case insensitivity to its identifiers. 
      There are some server-side scripting languages like PHP 
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables."""
print(name)

Originally Answered: Which programming language
      is not case sensitive? ABAP, Ada, Fortran,
      and Pascal provide case insensitivity to its identifiers.
      There are some server-side scripting languages like PHP
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables.

In [34]:
name='''Originally Answered: Which programming language 
      is not case sensitive? ABAP, Ada, Fortran, 
      and Pascal provide case insensitivity to its identifiers. 
      There are some server-side scripting languages like PHP 
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables.'''
print(name)

Originally Answered: Which programming language
      is not case sensitive? ABAP, Ada, Fortran,
      and Pascal provide case insensitivity to its identifiers.
      There are some server-side scripting languages like PHP
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables.

In [38]:
#selection 
#loop 
fruit="Banana"

for x in fruit:#x start from 0
    print(x)
    
print(len(fruit))

B
a
n
a
n
a
6

In [43]:
name='''Originally Answered: Which programming language 
      is not case sensitive? ABAP, Ada, Fortran, 
      and Pascal provide case insensitivity to its identifiers. 
      There are some server-side scripting languages like PHP 
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables.'''
if "PHP" in name:
    print("Yes! there is PHP in the content")
else: 
    print("No! there is no PHP in the content")
    
    
# if python does not has in cotent yes else no
if "Python" not in name:
    print("Yes! there is no Python in the content")
else: 
    print("No! there is  Python in the content")

a=name.replace("ABAP", "Python")
print(a)
b=name.upper()
print(b)
c=name.lower()
print(c)

Yes! there is PHP in the content
Yes! there is no Python in the content
Originally Answered: Which programming language
      is not case sensitive? Python, Ada, Fortran,
      and Pascal provide case insensitivity to its identifiers.
      There are some server-side scripting languages like PHP
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables.
ORIGINALLY ANSWERED: WHICH PROGRAMMING LANGUAGE
      IS NOT CASE SENSITIVE? ABAP, ADA, FORTRAN,
      AND PASCAL PROVIDE CASE INSENSITIVITY TO ITS IDENTIFIERS.
      THERE ARE SOME SERVER-SIDE SCRIPTING LANGUAGES LIKE PHP
      (GENERALLY USED IN WEB DEVELOPMENT) WHICH PROVIDE USERS TO CREATE
      CASE-INSENSITIVE FUNCTION NAME BUT NOT VARIABLES.
originally answered: which programming language
      is not case sensitive? abap, ada, fortran,
      and pascal provide case insensitivity to its identifiers.
      there are some server-side scripting languages like php
      (generally used in web development) which provide users to create
      case-insensitive function name but not variables.

In [47]:
age=36
content="My name is Messi, My age is " 
print(content+ str(age))
print(content,age)

#string format
content="My name is Messi, My age is {}"
print(content.format(age))

My name is Messi, My age is 36
My name is Messi, My age is  36
My name is Messi, My age is 36

In [52]:
#string format with int double 
salary=1000
house=70.5 
food= 300
#My salary is 1000 usd and I spend on food is 300usd and rent house 70.5 usd
content="My salary is {} usd and I spend on food is {}usd and rent house {} usd"
print(content.format(salary,food,house))

My salary is 1000 usd and I spend on food is 300usd and rent house 70.5 usd

In [53]:
content="My salary is {0} usd and I spend on food is {2}usd and rent house {1} usd"
print(content.format(salary,house,food))

My salary is 1000 usd and I spend on food is 300usd and rent house 70.5 usd

In [1]:
a="I will go to Siemreap"
print(a.lower())

i will go to siemreap

In [3]:
#enter sth: Cambodia 
str=input("Enter sth: ")
print(len(str))

Enter sth: Cambodia
8

In [5]:
str1="Cambodia"
str2="CAmbodia"
str3="cambodia"

print(str1.startswith("Ca"))
print(str2.startswith("Ca"))
print(str3.startswith("Ca"))

True
False
False

In [7]:
str1="    Cambodia"
str2="Thailand    "
str3="    Malaysia   "
print(str1)
print(str2)
print(str3)
print("___________________")
print(str1.strip())
print(str2.strip())
print(str3.strip())

    Cambodia
Thailand
    Malaysia
___________________
Cambodia
Thailand
Malaysia

In [15]:
#control structure : 1. sequential structure, 2. selection (condiction) structure, 3. repetition structure 
#2. selection : if , if/else (if/elif) (nested if ex: if .....: if....)
#3. repetion (loop): for, while (do/while)
for i in range(3,10):
    print(i)
    print("I love coding")

3
I love coding
4
I love coding
5
I love coding
6
I love coding
7
I love coding
8
I love coding
9
I love coding

In [14]:
#enter first number : 2
#enter second number: 100
#odd number is: 3,5,7,9.....,99
first=int(input("Enter first  number: "))
second=int(input("Enter second number: "))
if (first>=second): 
    print("First number must be greater than second number")
else:
    print("Odd number is: ")
    for num in range(first,second+1): 
        if (num%2 !=0):
            print(num,end= " ")

Enter first  number: 2
Enter second number: 17
Odd number is:
3 5 7 9 11 13 15 17

In [33]:
# break vs continue 
for i in range (1,100):
    print(i, end=" ")
    if (i%2==0 and i%3==0):
        break

1 2 3 4 5 6

In [35]:
for i in range (1,10):
    print(i, end=" ")
    if (i%2==0 and i%3==0):
        continue 
    print("I love python ")

1 I love python
2 I love python
3 I love python
4 I love python
5 I love python
6 7 I love python
8 I love python
9 I love python

In [46]:
#for , else 
for i in range(1,12,-3):
    print(i, end=" ")
else: 
    print("I stop at number : ",i)

I stop at number :  13

In [47]:
#for , else 
for i in range(1,120,-3):
    print(i, end=" ")
else: 
    print("I stop at number : ",i)

I stop at number :  13

In [2]:
#nest loop for 
#for i....
  #for .....

for i in range(1,11):
    print(num, ' x ', i, ' = ', num*i)

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [5]:
#nester loop for multiplation table 

for j in range(2,11):
    for i in range(1,11):
        print(j, ' x ', i, ' = ', j*i)
    print("______________________________")

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
______________________________
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
______________________________
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
______________________________
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
______________________________
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60
______________________________
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70
______________________________
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80
______________________________
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90
______________________________
10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100
______________________________

In [8]:
# multiplication table by input from user 
#nester loop for multiplation table 
num1=int(input("Enter first num: "))
num2=int(input("Enter second num: "))
print("______________________________")
for j in range(num1,num2+1):
    for i in range(1,11):
        print(j, ' x ', i, ' = ', j*i)
    print("______________________________")

Enter first num: 3
Enter second num: 5
______________________________
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
______________________________
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
______________________________
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
______________________________

In [10]:
#half pyramid pattern display 
for i in range (7):
    for j in range(i+1): 
        print("* ", end=" ")
    print("\r")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *

In [11]:
#half pyramid pattern display 
for i in range (0,7):
    for j in range(0,i+1): 
        print("* ", end=" ")
    print("\r")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *

In [12]:
#half pyramid pattern display by input from keyboard 
n=int(input("Enter n: "))
for i in range (0,n):
    for j in range(0,i+1): 
        print("* ", end=" ")
    print("\r")

Enter n: 5
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [14]:
#half pyramid pattern display by input from keyboard 
n=int(input("Enter n: "))
for i in range (1,n+1):
    for j in range(1,i+1): 
        print(i, end=" ")
    print("\r")

Enter n: 7
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [16]:
n=int(input("Enter n:"))
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j,end=" ")
    print("\r")

Enter n:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [18]:
n=int(input("Enter n:"))
l=2*n-1
for i in range (0,n):
    #space control 
    for j in range (0, l):
        print(end=" ")
    l -=2 #l=l-2
    #star control 
    for j in range(0, i+1):
        print("* ", end="")
    print("\r")

Enter n:5
         *
       * *
     * * *
   * * * *
 * * * * *

In [ ]:
Enter num: 5
Enter letter: a
a  
b  c  
d  e  f  
g  h  i  j  
k  l  m  n  o  
p  q  r  s  t  u

In [1]:
n=int(input("Enter num: "))
a=input(" Enter letter: ") #a
b=ord(a)#b=97
for i in range(0,n+1):
    for j in range(0,i+1):
        c=chr(b)
        print(c, " ", end="")
        b=b+1
    print("\r")

Enter num: 7
 Enter letter: a
a
b  c
d  e  f
g  h  i  j
k  l  m  n  o
p  q  r  s  t  u
v  w  x  y  z  {  |
}  ~            

In [2]:
enter num: 4
enter letter: a
A
B  B
C  C  C
D  D  D  D
E  E  E  E  E

SyntaxError: invalid syntax (<ipython-input-2-c7eff25ffdbf>, line 1)

### function 
##### 3 types of function in python: 
1. built-in function, ex: min(), help()...
2. programmer/user defined function 
    a. void function (non-return function)
    b. Return function (call by value, call by parameter(pointer) ) 
3. lamda funtion (Anonymous function)

In [6]:
#non-return function 
def test():
    print("I like coding")
    print("The world is beautiful with coding")
    print("Python is eating data science")
def test1():
    a=40
    b=50
    print(a+b)

test1()
test()

90
I like coding
The world is beautiful with coding
Python is eating data science

In [9]:
#all function must be non-return 
#function triangle_area_cal()
#function circle_area_cal()
#function rectangle_area_cal()
#func1
# i++ (increment : i=i+1), i-- (decrement: i=i-1)

def tri_area_cal():
    b=float(input("Enter weight:"))
    h=float(input("Enter height:"))
    area=0.5*b*h
    print("The area of triangle is : ",area)
    print(f"The area of triangle is : {area}")

def cir_area_cal():
    r=float(input(" Enter R: "))
    area= 3.14*r*r
    print(f"The area of circle is : {area}")

def rec_area_cal():
    b=float(input("Enter weight:"))
    h=float(input("Enter height:"))
    area=b*h
    print("The area of triangle is : ",area)


tri_area_cal()

Enter weight:45
Enter height:6
The area of triangle is :  135.0
The area of triangle is : 135.0

In [ ]:
#welcome to area calculation and temperature coversion 
1. Rectangle area 
2. Circle area 
3. Triangle area 
4. Celcius to fahrenheit
5. Fahrenheit to celcius 
select your choice: 1

In [ ]:
def tri_area_cal():
    b=float(input("Enter weight:"))
    h=float(input("Enter height:"))
    area=0.5*b*h
    print("The area of triangle is : ",area)
    print(f"The area of triangle is : {area}")
    
def cir_area_cal():
    r=float(input(" Enter R: "))
    area= 3.14*r*r
    print(f"The area of circle is : {area}")#f string format (3.6 )
    
def rec_area_cal():
    b=float(input("Enter weight:"))
    h=float(input("Enter height:"))
    area=b*h
    print("The area of triangle is : ",area)
    
def cel_to_far():
    b=float(input("Enter tem_cel:"))
    far=(b * 9/5) + 32
    print(f"Temperature as fahranheit is : {far}")#f string 
    #print("Temperature as fahranheit is : {}",.format('far')#string format 
def 

print("welcome to area calculation and temperature coversion :")
print("1. Rectangle area ")
print("2. Circle area ")
print("3. Triangle area ")
print("4. Celcius to fahrenheit")
print("5. Fahrenheit to celciu")
n=int(input("select your choice: "))
if n==1: 
    rec_area_cal()
elif n==2:
    cir_area_cal()
elif n==3: 
    tri_area_cal()

### return function

In [10]:
#return function have keyword return 
#paramednter vs argument 
def sum_3_num(a, b, c):
    return a+b+c

#print(sum_3_num(45,6,7))

def triangle_area(a,b):
    area=0.5 *a*b
    return area
a =triangle_area(6,9)
#print(a)

def far_to_cel(far):
    return (far-32)*(5/9)

a=float(input("Enter Farenheit temperature: "))
temp_cel=far_to_cel(a)

print(f"{a} degree farenheit = {temp_cel:.2f} degree celius")
print(a," degree farenheit =  ",round(temp_cel,3), " degree celius")


#3 return function : circle area, Multiple of 3 number, Fahrenheit to celcius

Enter Farenheit temperature: 78
78.0 degree farenheit = 25.556 degree celius
78.0  degree farenheit =   25.556  degree celius

In [7]:
def far_to_cel(far):
    return (far-32)*(5/9)
def cel_to_far(cel):
    return (cel*9/5)+32

print("Welcome to temperature coversion program")
print("1. Celious to farenheit")
print("2. farenheit to celious")
n=int(input("Choise: "))
if(n==1): 
    a=float(input("Enter celious degree: "))
    b=cel_to_far(a)
    print(f"The farenheit degree at {a} celious degree is: {b}")
elif (n==2):
    x=float(input("Enter farenheit degree:"))
    y=far_to_cel(x)
    print(f"The farenheit degree at {x} celious degree is: {y}")

Welcome to temperature coversion program
1. Celious to farenheit
2. farenheit to celious
Choise: 2
Enter farenheit degree:104
The farenheit degree at 104.0 celious degree is: 40.0

In [14]:
def invest_fv(pv,rate,years):
    for i in range(1,years+1):
        pv=pv*(1+rate/100)
        print(f"year {i} : ${pv:.2f}")
    
pv=int(input("Enter your money $: "))
rate=float(input("Enter a yearly rate: "))
years=int(input("Enter number of yearts: "))

invest_fv(pv,rate,years)

Enter your money $: 10000
Enter a yearly rate: 5
Enter number of yearts: 20
year 1 : $10500.00
year 2 : $11025.00
year 3 : $11576.25
year 4 : $12155.06
year 5 : $12762.82
year 6 : $13400.96
year 7 : $14071.00
year 8 : $14774.55
year 9 : $15513.28
year 10 : $16288.95
year 11 : $17103.39
year 12 : $17958.56
year 13 : $18856.49
year 14 : $19799.32
year 15 : $20789.28
year 16 : $21828.75
year 17 : $22920.18
year 18 : $24066.19
year 19 : $25269.50
year 20 : $26532.98

### recusive function 
function call function itself

In [19]:
#4!=4*3*2*1 
#f(n)=f(n-1)*f(n-2)*f(n-3)*...*f(1)
def factory(n):
    if n<0:
        return "Error: only possitive accepted"
    elif n==0:
        return 1
    else: 
        return n *factory(n-1) #4*f(3)=4*3*f(2)=4*3*2*f(1)=4*3*2*1*f(0)=4*3*2*1*1
    
print(factory(4))

1

In [24]:
def countdown_num(n):
    if n==0: 
        return 0
    elif n<0: #-10+1
        print(n)
        return countdown_num(n+1)
    else: 
        print(n)
        return countdown_num(n-1)

num=int(input("Enter number: "))
print(countdown_num(num))

Enter number: -11
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [3]:
# exp_num(5,2): 50= 5* 5**2
def exp_num(n,m):
    if m==0:
        return n
    else: 
        return n*exp_num(n,m-1)
print(exp_num(5,2))
#5*exp(5,1)=5*5*exp(5,0)=5*5*5=125

125

### lambda 
1. lambda function 
2. no-name function 
3. nameless function 
4. anonymous function
5. lamda expression

In [28]:
# lambda argument: expression 
def area_rec(w,h):
    return w*h

x = lambda w , h : w*h
far_to_cel = lambda far: ((far-32)*(5/9))
cel_to_far = lambda cel: ((cel * 9/5) + 32)
print(area_rec(20,45))
print(x(20,45))
print(far_to_cel(59))
print(cel_to_far(34))

900
900
15.0
93.2

### data structure 
1. list (array)
2. dict
3. set
4. tuple

In [6]:
#list 
# numpy 
#int a[100]
#a1,a2,...,a100( array int a[100])
a=[3,7,9,10]#idex start from 0, item start from 1
print(a[0])
print(a[3])

3
10

In [7]:
b=["cambodia",23,56.89] #containe different data type 
print(b[0])

cambodia

In [8]:
#list [...] it can containe different data type, order, changeable, allow dublicated value 
c=["cambodia",45,"cambodia"]
print(c[0])
print(c[2])

cambodia
cambodia

In [9]:
country= ['Cambodia','Thailand', 'Vietnam','Japan','Malaysia']
print(country)

['Cambodia', 'Thailand', 'Vietnam', 'Japan', 'Malaysia']

In [11]:
print(country[0:4])

['Cambodia', 'Thailand', 'Vietnam', 'Japan']

In [12]:
print(country[-1])

Malaysia

In [13]:
print(len(country))

5

In [14]:
print(country[-3])

Vietnam

In [15]:
print(country[2:])

['Vietnam', 'Japan', 'Malaysia']

In [16]:
print(country)

['Cambodia', 'Thailand', 'Vietnam', 'Japan', 'Malaysia']

In [18]:
country[4]='Lao'
print(country)

['Cambodia', 'Thailand', 'Vietnam', 'Japan', 'Lao']

In [19]:
country.append('Malaysia')
print(country)

['Cambodia', 'Thailand', 'Vietnam', 'Japan', 'Lao', 'Malaysia']

In [20]:
#insert(index,value)
country.insert(2,'Brunei')
print(country)

['Cambodia', 'Thailand', 'Brunei', 'Vietnam', 'Japan', 'Lao', 'Malaysia']

In [21]:
#extend list concat list 
color=['blue','white','orange','yellow']
country.extend(color)
print(country)

['Cambodia', 'Thailand', 'Brunei', 'Vietnam', 'Japan', 'Lao', 'Malaysia', 'blue', 'white', 'orange', 'yellow']

In [22]:
#remove item from list: remove, pop(),del()
country.remove('Malaysia')
print(country)

['Cambodia', 'Thailand', 'Brunei', 'Vietnam', 'Japan', 'Lao', 'blue', 'white', 'orange', 'yellow']

In [27]:
#use loop to access list item 
#list comprehension 
newlist=[]
for x in country:
    if 'a' not in x:
        newlist.append(x)
print(newlist)

['Brunei', 'blue', 'white', 'yellow']

In [32]:
country1 = ['Cambodia', 'Thailand', 'Brunei', 'Vietnam', 'Japan', 'Lao', 'Malaysia', 'blue', 'white', 'orange', 'yellow']
newlist=[]
for i in range(len(country1)):
    if "a" not in country1[i]:
        newlist.append(country1[i])
print(newlist)

['Brunei', 'blue', 'white', 'yellow']

In [33]:
country1.sort()
print(country1)

['Brunei', 'Cambodia', 'Japan', 'Lao', 'Malaysia', 'Thailand', 'Vietnam', 'blue', 'orange', 'white', 'yellow']

In [34]:
num=[23,67,1,5,890,20,45,56,67,89]
num.sort()
print(num)

[1, 5, 20, 23, 45, 56, 67, 67, 89, 890]

In [37]:
adj=["Red","Big","Tasty"]
fruit=["Apple","Mango","Durian"]
for color in adj:
    for f in fruit: 
        print(f"{color}  {f}")

Red  Apple
Red  Mango
Red  Durian
Big  Apple
Big  Mango
Big  Durian
Tasty  Apple
Tasty  Mango
Tasty  Durian

In [40]:
#tuple (...),contain differrent tatype, order, unchangeable, allow dublicated item
cou=("Cambodia","Thailand","Brunei",34,67.901,"Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

Cambodia
Brunei
Brunei

In [43]:
#update tuple 
count1=list(cou)#convert from tuple to list
count1[3]=23 #change value 
cou=tuple(count1)
print(cou)

('Cambodia', 'Thailand', 'Brunei', 23, 67.901, 'Brunei')

In [1]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

('Brunei', 'Cambodia', 'Japan', 'Lao')

In [2]:
#unpack
(Lotus,Romdul,Sakura,Champa) = x

In [3]:
print(Lotus)

Brunei

In [4]:
print(Romdul)

Cambodia

In [5]:
a=("y","s","t")
b=(1,5,8)
c=a+b
print(c)

('y', 's', 't', 1, 5, 8)

In [6]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
y=x*2
print(y)

('Brunei', 'Cambodia', 'Japan', 'Lao', 'Brunei', 'Cambodia', 'Japan', 'Lao')

In [7]:
d=(3,6,8)
f=d*2
print(f)

(3, 6, 8, 3, 6, 8)

In [8]:
import numpy as np
s=np.array([4,7,9])
m=s*3
m

array([12, 21, 27])

### Set
set {...}, contained different data type, unorder, unchangeable, unindexing

In [10]:
book={"Mein Kampf","Think and grow rich", "Follow your heart","7 habbit",9}
book

{'7 habbit', 9, 'Follow your heart', 'Mein Kampf', 'Think and grow rich'}

In [11]:
book={"Mein Kampf","Think and grow rich", "Follow your heart","7 habbit",9}
book

{'7 habbit', 9, 'Follow your heart', 'Mein Kampf', 'Think and grow rich'}

In [12]:
book={"Mein Kampf","Think and grow rich", "Follow your heart","7 habbit",9}
book

{'7 habbit', 9, 'Follow your heart', 'Mein Kampf', 'Think and grow rich'}

In [13]:
#loop 
for i in book:
    print(i)

Mein Kampf
9
Think and grow rich
7 habbit
Follow your heart

In [14]:
book.add("Cambodia")
book

{'7 habbit',
 9,
 'Cambodia',
 'Follow your heart',
 'Mein Kampf',
 'Think and grow rich'}

### Dictionary {key:value} 
dictionary {ky:value}, order, changable , and do not allow for dublicated key

In [22]:
dict={
    "Hi":"សួរស្តី", 
    "Cambodia":"កម្ពុជា",
    "Love":"ស្រលាញ់",
    "Age":28}

In [23]:
print(dict["Hi"])

សួរស្តី

In [24]:
for x in dict: 
    print(x)

Hi
Cambodia
Love
Age

In [25]:
print(dict["Age"])

28

In [26]:
l=dict.keys()
print(l)

dict_keys(['Hi', 'Cambodia', 'Love', 'Age'])

In [28]:
dict["Age"]=38
dict

{'Hi': 'សួរស្តី',
 'Cambodia': 'កម្ពុជា',
 'Love': 'ស្រលាញ់',
 'Age': 38,
 'age': 38}

In [29]:
dict.update({"age":48})

In [30]:
dict

{'Hi': 'សួរស្តី',
 'Cambodia': 'កម្ពុជា',
 'Love': 'ស្រលាញ់',
 'Age': 38,
 'age': 48}

In [31]:
dict["Job"]="Data Scientist"
dict

{'Hi': 'សួរស្តី',
 'Cambodia': 'កម្ពុជា',
 'Love': 'ស្រលាញ់',
 'Age': 38,
 'age': 48,
 'Job': 'Data Scientist'}

In [32]:
dict.pop("age")
dict

{'Hi': 'សួរស្តី',
 'Cambodia': 'កម្ពុជា',
 'Love': 'ស្រលាញ់',
 'Age': 38,
 'Job': 'Data Scientist'}

In [ ]:
#diction store 
brand: 
year: 
Price: 
Country:

In [51]:
score={'color':'green','point':100}
print('You have earned '+str(score['color'])+" color, you will get "+str(score['point']))

You have earned green color, you will get 100

In [52]:
#nested if, nested loop , nested dict
#nested if 
if ....
    if 
#nested loop 
for ......
    for....

In [53]:
#nested dictionaary 
#a={key: {key1:vlue1, key2:value2}}
family={
    "kid1":{
        'name':'Dara' ,
        'sex': 'M',
        'year':1990
    },
    "Kid2":{
        'name': 'Dary',
        "Sex" : 'M',
        'year':1995
    }
}

In [55]:
print(family["kid1"])

{'name': 'Dara', 'sex': 'M', 'year': 1990}

In [56]:
import numpy

In [57]:
import scipy

In [58]:
import matplotlib

In [59]:
import pandas