In [2]:
import pandas as pd
cereal_df = pd.read_csv("anowa_1_way.csv")
cereal_df

   a1  a2  a3
0   6   8  13
1   8  12   9
2   4   9  11
3   5  11   8
4   3   6   7
5   4   8  12

In [6]:
url='https://github.com/sophalITC/datasci/raw/master/anowa_1_way.csv'
df=pd.read_csv(url)
df

   a1  a2  a3
0   6   8  13
1   8  12   9
2   4   9  11
3   5  11   8
4   3   6   7
5   4   8  12