***Author: Sophal Chan***  
  

### Data Structure 
1. list [ .....],(contained diferent data types), order, changable, allow duplicate value 
2. tuple (......), (contained different tada type), order, Unchange, allow duplicate valu # index (start 0) 
3. set {.....}, (contained different tada type), unorder, Unchange,unidex
4. Dictionary in {key:value} pairs, ordered, changeable and do not allow duplicates.

#### List

In [ ]:
country= ['Cambodia', " Thailand", " Vieatnam", " Laos", " Malaysia", " Japan"]
print(country)

In [ ]:
print(country[1:4]) # 4 not count

In [ ]:
print(len(country))

In [ ]:
print(country[-1])

In [ ]:
print(country[-5])

In [ ]:
print(country[3:])

In [ ]:
country[1:3]=["French", " England"]
print(country)

In [ ]:
country[4]="Cambodia"
print(country)

In [ ]:
country.append("Russia")
print(country)

In [ ]:
country.insert(2, "Swiss")
print(country)

In [ ]:
#extend concate two list (conbine 2 lists) 
fruit=["Mango", " Cherry", "potato"]
country.extend(fruit)
print(country)

In [ ]:
country[5]= "Cambodia"
print(country)

In [ ]:
#removed item from list: remove, pop(), del()
country.remove("Mango")
print(country)

In [ ]:
country.pop(5)#index 
print(country)

In [ ]:
del country[8]
print(country)

In [ ]:
#indentation 
newlist=[]
for x in country:
    if "a" in x:
        newlist.append(x)
print(newlist)

In [ ]:
# sort 
country.sort()
print(country)

In [ ]:
num=[45,78,1,45,67,9,3]
print(num)
num.sort()
print(num)

In [ ]:
adj=["red","big", "tasty"]
fruit= [ "Apple", "Banana", "Dorian"]

for i in adj: #red #big #tasty
    for j in fruit:
        print(i,j)#red Apple, red Banana, red Durian #Big Apple, big Banaana, Big Durian
def nested_loop():
    for i in range (2, 4):
        for j in range(1,11):
            print("    {}  x  {}      =   {} ".format(i,j,i*j))
        print("_"*30)

In [ ]:
adj=["red","big", "tasty"]
fruit= [ "Apple", "Banana", "Dorian"]

for i in adj: #red #big #tasty
    for j in fruit:
        print(i,j)#red Apple, red Banana, red Durian #Big Apple, big Banaana, Big Durian
def nested_loop():
    for i in range (2, 4):
        for j in range(1,11):
            print(f"{i}x{j:6}")
        print("_"*30)

In [ ]:
li = [3, 1, 4, 2, 5]
li.sort()
print (li) # [1, 2, 3, 4, 5]
 
li = [3, 1, 4, 2, 5]
print (sorted(li)) # [1, 2, 3, 4, 5]
print (li) # [3, 1, 4, 2, 5]

### Set
set {...}, contained different data type, unorder, unchangeable, unindexing

In [ ]:
book={"Mein Kampf","Think and grow rich", "Follow your heart","7 habbit",9}
book

In [ ]:
#loop 
for i in book:
    print(i)

In [ ]:
book.add("Cambodia")
book

### tuple()
tuple (...),contain differrent tatype, order, unchangeable, allow dublicated item

In [ ]:
cou=("Cambodia","Thailand","Brunei",34,67.901,"Brunei")
print(cou[0])
print(cou[2])
print(cou[5])

In [ ]:
#update tuple 
count1=list(cou)#convert from tuple to list
count1[3]=23 #change value 
cou=tuple(count1)
print(cou)

In [ ]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
print(x)

In [ ]:
#unpack
(Lotus,Romdul,Sakura,Champa) = x

In [ ]:
print(Lotus)

In [ ]:
a=("y","s","t")
b=(1,5,8)
c=a+b
print(c)

In [ ]:
x=('Brunei', 'Cambodia', 'Japan', 'Lao')
y=x*2
print(y)

In [ ]:
d=(3,6,8)
f=d*2
print(f)

### Dictionary {key:value} 
dictionary {ky:value}, order, changable , and do not allow for dublicated key

In [ ]:
dict={
    "Hi":"សួរស្តី", 
    "Cambodia":"កម្ពុជា",
    "Love":"ស្រលាញ់",
    "Age":28}

In [ ]:
print(dict["Hi"])

In [ ]:
for x in dict: 
    print(x)

In [ ]:
print(dict["Age"])

In [ ]:
l=dict.keys()
print(l)

In [ ]:
dict["Age"]=38
dict

In [ ]:
dict.update({"age":48})

In [ ]:
dict

In [ ]:
dict["Job"]="Data Scientist"
dict

In [ ]:
dict.pop("age")
dict

In [ ]:
score={'color':'green','point':100}
print('You have earned '+str(score['color'])+" color, you will get "+str(score['point']))

In [ ]:
#nested dictionaary 
#a={key: {key1:vlue1, key2:value2}}
family={
    "kid1":{
        'name':'Dara' ,
        'sex': 'M',
        'year':1990
    },
    "Kid2":{
        'name': 'Dary',
        "Sex" : 'M',
        'year':1995
    }
}

In [ ]:
print(family["kid1"])

### Thnak you!